<div ng-include="'views/partials/nav.html'"></div>
<div class="box">
    <div class="container-1">
        <span class="icon">
            <i class="fa fa-search"></i>
        </span>
        <input type="search" id="search" ng-model="searchBox" placeholder="Search...">
    </div>
</div>

<div>
    <ng-map id="map" center="current-position" default-style="true" zoom="15">
        <marker id="{{review.id}}" ng-repeat="review in ac.AdminService.review.list" position=" [ {{review.latitude}} , {{review.longitude}} ]"
            on-click="ac.showDetail(review)">
        </marker>

        <info-window id="reviewWindow">
            <div ng-non-bindable="">
                <div ng-repeat="review in ac.newReview.list"> 
                    <p>id: {{review.id}}</p>  
                    <p>position: {{anchor.getPosition()}}</p>
                    <p>name: {{review.name}}</p>
                    <p>price: {{review.price}}</p>
                    <p>review: {{review.review}}</p>
                </div>
            </div>
        </info-window>

    </ng-map>
</div>


</div>